
#index-link {
    color: green;
    background-color: orange;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}
#index-link:hover {
    color: white;
}
#home-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top:30vh;
}