h1 {
    font-weight: 600;
    font-size: 3em;
    animation: init 2s 1;
}
@keyframes init {
    50% {font-size: 3.5em;}
}
#index-link {
    color: green;
    background-color: orange;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}
#index-link:hover {
    color: white;
}
#home-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 30vh;
}